//theme colors
$color-main: #07A8E9;
$color-main-shadow-1: rgba(6, 134, 186, 0.2);
$color-main-shadow-2: rgba(6, 134, 186, 0.2);
$color-main-shadow-3: rgba(8, 202, 255, 0.9);
$color-main-shadow-4: rgba(6, 134, 186, 0.9);
$color-light-blue: #DEF5FE;
$color-light-blue-darker: #61E0FB;