<div class="app-c-cart-item">
  <img alt="Cart item image" class="app-c-cart-item__image" src="../assets/default-image-gift-certificate.png">
  <div class="app-c-cart-item__info">
    <span class="app-c-cart-item__info__title">Polyp</span>
    <span class="app-c-cart-item__info__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec dapibus augue. Phasellus lacinia velit nec neque aliquet, sit amet ultrices augue mattis. Duis et nisl purus. Aenean sollicitudin vitae.
    </span>
  </div>
  <div class="app-c-cart-item__price">
    <span>200$</span>
  </div>
</div>
