<header class="app-c-header">
  <div class="app-c-brand">
    <a class="app-c-brand__icon-wrapper app-u-mat-button app-u-flex-container-center" href="/">
      <span class="material-symbols-rounded app-c-brand__icon-wrapper__icon app-u-mat-icon app-u-reset-margin">polymer</span>
    </a>
  </div>
  <div class="app-c-sidenav-toggle app-u-flex-push-left">
    <button class="app-c-sidenav-toggle__button app-u-mat-button" type="button"><span
      class="material-symbols-rounded app-c-sidenav-toggle__button__icon app-u-mat-icon app-u-reset-margin">menu</span>
    </button>
  </div>
  <div class="app-c-search app-u-flex-container-center">
    <form class="app-c-search__form app-u-flex-container-center">
      <input autocomplete="off" class="app-c-search__form__input" placeholder="Type what you need" type="text">
      <button class="app-c-search__form__button app-u-mat-icon-button" type="submit"><span
        class="material-symbols-rounded app-c-search__form__button__icon app-u-mat-icon app-u-reset-margin">search</span>
      </button>
    </form>
  </div>
  <div class="app-c-cart app-u-flex-push-right">
    <a class="app-c-cart__link app-u-mat-button" href="/checkout">
      <span class="material-symbols-rounded app-c-cart__link__icon app-u-mat-icon app-u-reset-margin">shopping_cart</span>
    </a>
  </div>
  <div class="app-c-sign">
    <button class="app-c-sign__button app-u-mat-button" onclick="window.location.href='/signin'">
      <span class="material-symbols-rounded app-c-sign__button__icon app-u-mat-icon">login</span><span
      class="app-c-sign__button__text">Sign in</span>
    </button>
  </div>
</header>
